<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
	   http://www.springframework.org/schema/context
	   http://www.springframework.org/schema/context/spring-context-4.3.xsd
	   http://www.springframework.org/schema/tx
	   http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
	   ">

		<context:annotation-config/>
		
		<context:component-scan base-package="cn.wd"></context:component-scan>
		<context:property-placeholder location="classpath:javaMail.properties"/>
		
		<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
			<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
			<property name="url" value="jdbc:mysql://127.0.0.1:3306/cms?useSSL=false"></property>
			<property name="username" value="root"></property>
			<property name="password" value="123456"></property>
		</bean>
		
		<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
			<property name="dataSource" ref="dataSource"></property>
			<property name="mapperLocations" value="classpath:cn/wd/db/mappers/*.xml"></property>
		</bean>
		
		<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
			<property name="basePackage" value="cn.wd.db.dao"></property>
			<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
		</bean>
		
		<bean class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
			<property name="dataSource" ref="dataSource"></property>
		</bean>
		<!-- 邮件发送 -->
		<bean id="mailMessage" class="org.springframework.mail.SimpleMailMessage">    
        <property name="from" value ="${mail.from.mail}"></property>    
    	</bean>  
      
      
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">    
        <property name="defaultEncoding" value="UTF-8" />    
        <property name="host" value="${mail.host}" />    
        <property name="username" value="${mail.from.mail}" />    
        <property name="password" value="${mail.license}" />    
        <property name="javaMailProperties">    
            <props>    
                <!-- 设置认证开关 -->    
                <prop key="mail.smtp.auth">true</prop>    
                <!-- 启动调试开关 -->    
                <prop key="mail.debug">true</prop>    
                <!-- 设置发送延时 -->  
                <prop key="mail.smtp.timeout">0</prop>  
                <prop key="mail.smtp.socketFactory.class">${mail.smtp.socketFactory.class}</prop>  
                <prop key="mail.smtp.port">${mail.smtp.port}</prop>  
                <prop key="mail.smtp.socketFactory.port">${mail.smtp.socketFactory.port}</prop>  
            </props>    
        </property>    
    </bean>  
</beans>