<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wd.db.dao.AccidentsMapper" >
  <resultMap id="BaseResultMap" type="cn.wd.pojo.Accidents" >
    <id column="car_id" property="carId" jdbcType="INTEGER" />
    <result column="exel_id" property="exelId" jdbcType="INTEGER" />
    <result column="time" property="time" jdbcType="DATE" />
    <result column="location" property="location" jdbcType="VARCHAR" />
    <result column="fee" property="fee" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    car_id, exel_id, time, location, fee, type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from j_accidents
    where car_id = #{carId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from j_accidents
    where car_id = #{carId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.wd.pojo.Accidents" >
    insert into j_accidents (car_id, exel_id, time, 
      location, fee, type
      )
    values (#{carId,jdbcType=INTEGER}, #{exelId,jdbcType=INTEGER}, #{time,jdbcType=DATE}, 
      #{location,jdbcType=VARCHAR}, #{fee,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.wd.pojo.Accidents" >
    insert into j_accidents
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="carId != null" >
        car_id,
      </if>
      <if test="exelId != null" >
        exel_id,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="location != null" >
        location,
      </if>
      <if test="fee != null" >
        fee,
      </if>
      <if test="type != null" >
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="carId != null" >
        #{carId,jdbcType=INTEGER},
      </if>
      <if test="exelId != null" >
        #{exelId,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        #{time,jdbcType=DATE},
      </if>
      <if test="location != null" >
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="fee != null" >
        #{fee,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.wd.pojo.Accidents" >
    update j_accidents
    <set >
      <if test="exelId != null" >
        exel_id = #{exelId,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=DATE},
      </if>
      <if test="location != null" >
        location = #{location,jdbcType=VARCHAR},
      </if>
      <if test="fee != null" >
        fee = #{fee,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
    </set>
    where car_id = #{carId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.wd.pojo.Accidents" >
    update j_accidents
    set exel_id = #{exelId,jdbcType=INTEGER},
      time = #{time,jdbcType=DATE},
      location = #{location,jdbcType=VARCHAR},
      fee = #{fee,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR}
    where car_id = #{carId,jdbcType=INTEGER}
  </update>
</mapper>